<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>

<p>
<a class="btn btn-primary" href="/posts/new" role="button">New post</a>

<a class="btn btn-primary" href="/places" role="button">Back to all places</a>
</p>


<div class="row">
<% for post in @posts %>
  <div class="col-md-3 col-sm-6 col-lg-9">

    <h4><%= post["title"] %></h4>
    <p><%= post["posted_on"] %></p>
    <p><%= post["description"] %></p>
    

  <% if post.uploaded_image.attached? %>
    <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
  <% else %>
    <img src="<%= post["image"] %>" class="img-fluid">
  <% end %>

</div>
  <% end %>
</div>


